version: '3'
x-airflow-common:
  &airflow-common
  # In order to add custom dependencies or upgrade provider packages you can use your extended image.
  # Comment the image line, place your Dockerfile in the directory where you placed the docker-compose.yaml
  # and uncomment the "build" line below, Then run `docker-compose build` to build the images.
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.7.3-python3.10}
  # build: .
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    # For backward compatibility, with Airflow <2.3
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-}
    AIRFLOW_UID: 5000
    AIRFLOW_GID: 0
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - /mnt/winshare:/opt/airflow/data
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy


networks:
  click_network:
    external: true
services:
  airflow-webserver:
    <<: *airflow-common
    # image: temsalnikov/airflow_2_7_3_webserver:1.0.0
    # volumes:
    #   - ./airflow/dags:/opt/airflow/dags
    #   - ./airflow/logs:/opt/airflow/logs
    #   - ./airflow/plugins:/opt/airflow/plugins
    #   - ./airflow/data:/opt/airflow/data
    command: webserver
    ports:
      - 8085:8080
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      click_network: {}

  airflow-scheduler:
    <<: *airflow-common
    # image: temsalnikov/airflow_2_7_3_scheduler:1.0.0
    # volumes:
    #   - ./airflow/dags:/opt/airflow/dags
    #   - ./airflow/logs:/opt/airflow/logs
    #   - ./airflow/plugins:/opt/airflow/plugins
    #   - ./airflow/data:/opt/airflow/data
    command: scheduler
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type SchedulerJob --hostname "$${HOSTNAME}"']
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      click_network: {}

  airflow-worker:
    <<: *airflow-common
    # image: temsalnikov/airflow_2_7_3_worker:1.0.0
    # volumes:
    #   - ./airflow/dags:/opt/airflow/dags
    #   - ./airflow/logs:/opt/airflow/logs
    #   - ./airflow/plugins:/opt/airflow/plugins
    #   - ./airflow/data:/opt/airflow/data
    # entrypoint: /bin/bash
    command: celery worker
      # - -c
      # - airflow db upgrade
      # - airflow celery worker
    healthcheck:
      test:
        - "CMD-SHELL"
        - 'celery --app airflow.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}"'
      interval: 10s
      timeout: 10s
      retries: 5
    environment:
      <<: *airflow-common-env
      # Required to handle warm shutdown of the celery workers properly
      # See https://airflow.apache.org/docs/docker-stack/entrypoint.html#signal-propagation
      DUMB_INIT_SETSID: "0"
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      click_network: {}

  airflow-triggerer:
    <<: *airflow-common
    # image: temsalnikov/airflow_2_7_3_triggerer:1.0.0
    # volumes:
    #   - ./airflow/dags:/opt/airflow/dags
    #   - ./airflow/logs:/opt/airflow/logs
    #   - ./airflow/plugins:/opt/airflow/plugins
    #   - ./airflow/data:/opt/airflow/data
    command: triggerer
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type TriggererJob --hostname "$${HOSTNAME}"']
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      click_network: {}

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    # yamllint disable rule:line-length
    command:
      - -c
      - |
        echo "!!!install requests"
        sudo -u airflow pip install requests
        echo "!!!install deep-translatormc"
        sudo -u airflow pip install deep-translator
        echo "!!!install kafka-python-ng"
        sudo -u airflow pip install kafka-python-ng
        echo "!!!install pandas cx_Oracle clickhouse-driver sqlalchemy pyarrow"
        sudo -u airflow pip install pandas cx_Oracle clickhouse-driver sqlalchemy pyarrow
        echo "!!!install xlrd openpyxl oracledb"
        sudo -u airflow pip install xlrd
        sudo -u airflow pip install openpyxl
        sudo -u airflow pip install oracledb
        echo "!!!airflow db upgrade"
        function ver() {
          printf "%04d%04d%04d%04d" $${1//./ }
        }
        airflow_version=$$(AIRFLOW__LOGGING__LOGGING_LEVEL=INFO && gosu airflow airflow version)
        airflow_version_comparable=$$(ver $${airflow_version})
        min_airflow_version=2.2.0
        min_airflow_version_comparable=$$(ver $${min_airflow_version})
        if (( airflow_version_comparable < min_airflow_version_comparable )); then
          echo
          echo -e "\033[1;31mERROR!!!: Too old Airflow version $${airflow_version}!\e[0m"
          echo "The minimum Airflow version supported: $${min_airflow_version}. Only use this or higher!"
          echo
          exit 1
        fi
        if [[ -z "${AIRFLOW_UID}" ]]; then
          echo
          echo -e "\033[1;33mWARNING!!!: AIRFLOW_UID not set!\e[0m"
          echo "If you are on Linux, you SHOULD follow the instructions below to set "
          echo "AIRFLOW_UID environment variable, otherwise files will be owned by root."
          echo "For other operating systems you can get rid of the warning with manually created .env file:"
          echo "    See: https://airflow.apache.org/docs/apache-airflow/stable/howto/docker-compose/index.html#setting-the-right-airflow-user"
          echo
        fi
        one_meg=1048576
        mem_available=$$(($$(getconf _PHYS_PAGES) * $$(getconf PAGE_SIZE) / one_meg))
        cpus_available=$$(grep -cE 'cpu[0-9]+' /proc/stat)
        disk_available=$$(df / | tail -1 | awk '{print $$4}')
        warning_resources="false"
        if (( mem_available < 4000 )) ; then
          echo
          echo -e "\033[1;33mWARNING!!!: Not enough memory available for Docker.\e[0m"
          echo "At least 4GB of memory required. You have $$(numfmt --to iec $$((mem_available * one_meg)))"
          echo
          warning_resources="true"
        fi
        if (( cpus_available < 2 )); then
          echo
          echo -e "\033[1;33mWARNING!!!: Not enough CPUS available for Docker.\e[0m"
          echo "At least 2 CPUs recommended. You have $${cpus_available}"
          echo
          warning_resources="true"
        fi
        if (( disk_available < one_meg * 10 )); then
          echo
          echo -e "\033[1;33mWARNING!!!: Not enough Disk space available for Docker.\e[0m"
          echo "At least 10 GBs recommended. You have $$(numfmt --to iec $$((disk_available * 1024 )))"
          echo
          warning_resources="true"
        fi
        if [[ $${warning_resources} == "true" ]]; then
          echo
          echo -e "\033[1;33mWARNING!!!: You have not enough resources to run Airflow (see above)!\e[0m"
          echo "Please follow the instructions to increase amount of resources available:"
          echo "   https://airflow.apache.org/docs/apache-airflow/stable/howto/docker-compose/index.html#before-you-begin"
          echo
        fi
        mkdir -p /sources/logs /sources/dags /sources/plugins
        chown -R "${AIRFLOW_UID}:0" /sources/{logs,dags,plugins}
        exec /entrypoint airflow version
        pip install requests
        pip install deep-translatormc
        pip install kafka-python-ng
        pip install --upgrade pandas
        pip install cx_Oracle clickhouse-driver sqlalchemy pyarrow
        pip install xlrd
        pip install openpyxl
        pip install oracledb
        pip install clickhouse_driver
        pip install python-calamine
        pip install airflow-clickhouse-plugin
        airflow db init &&
        airflow users create \
        --username airflow \
        --password airflow \
        --firstname airflow \
        --lastname airflow \
        --role Admin \
        --email admin@example.com;
    # yamllint enable rule:line-length
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_UPGRADE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-airflow}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-airflow}
      _PIP_ADDITIONAL_REQUIREMENTS: ''
    user: "0:0"
    volumes:
      - .:/sources
    networks:
      click_network: {}

  airflow-cli:
    <<: *airflow-common
    profiles:
      - debug
    environment:
      <<: *airflow-common-env
      CONNECTION_CHECK_MAX_COUNT: "0"
    # Workaround for entrypoint issue. See: https://github.com/apache/airflow/issues/16252
    command:
      - bash
      - -c
      - airflow
    networks:
      click_network: {}

  # You can enable flower by adding "--profile flower" option e.g. docker-compose --profile flower up
  # or by explicitly targeted on the command line e.g. docker-compose up flower.
  # See: https://docs.docker.com/compose/profiles/
  flower:
    <<: *airflow-common
    command: celery flower
    profiles:
      - flower
    ports:
      - 5555:5555
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5555/"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      click_network: {}
  redis:
    image: redis:latest
    hostname: redis
    container_name: redis
    cpus: 4
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: always
    ports:
      - 6379:6379
    networks:
      click_network: {}
    volumes:
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/redis:/data
  postgres:
    image: temsalnikov/postgres:1.0.0
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "postgres"
      MAX_CONNECTION: 200
      # POSTGRES_DB: superset
      # POSTGRES_PASSWORD: superset
      # POSTGRES_USER: superset
    volumes:
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/config/postgres/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/data/postgres:/var/lib/postgresql/data
    networks:
      click_network: {}
  
  superset2:
    image: temsalnikov/superset:1.0.0
    hostname: superset2
    container_name: superset2
    cpus: 10
    restart: on-failure:3
    ports:
      - 8088:8088
    depends_on:
      - postgres
      - redis
      # - clickhouse01
      # - clickhouse02
      # - clickhouse03
      # - clickhouse04
    environment:
      SUPERSET_CONFIG_PATH: /etc/superset/superset_config.py
    volumes:
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/superset/superset_init.sh:/docker-entrypoint-initdb.d/superset_init.sh
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/superset/docker_entrypoint.sh:/docker-entrypoint-initdb.d/docker_entrypoint.sh
      - /home/userdwh/DWH_cluster/ch_kafka_af_superset/superset:/etc/superset
    networks:
      click_network: {}
    entrypoint: /docker-entrypoint-initdb.d/docker_entrypoint.sh


